<app-header></app-header>
<body>
    <div class="aboutMe">
        <div class="title" id="downhill">
            <h1>About Me</h1>
        </div>
        <div class="panel">
            <div class="content">
                <p>Hi! I'm a software engineer with a passion for creating innovative solutions. I have experience in various programming languages and frameworks, and I'm always eager to learn new technologies.</p>
                <img src="/SF_Baumann_Jari_02559.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="projects">
        <div class="title" id="schnee">
            <h1>Projekte</h1>
        </div>
        <div class="panel">
            <div class="content">
                <div class="project">
                    
                </div>
            </div>
        </div>
    </div>
</body>
